<div class="span-21">
  <div id="git-book">
    <img src="images/book.png" alt="" />
    <a href="http://progit.org/book">Pro Git Book</a> : 
    The Creative Commons licensed freely available online book
  </div>
</div>

<div class="span-21">
  <br/>
</div>

<div class="span-11">
  <h2 class="section-start" id="tutorials">Tutorials</h2>
  
  <h3 class="title">Short and Sweet</h3>

  <p>
    The <a href="http://gitref.org">Git Reference site</a> is a online git reference built as a tutorial.
  </p>
  
  <p>The <a href="http://schacon.github.com/git/gittutorial.html"><strong>official Git tutorial</strong></a>
  is a good place to get started.</p>

  <p>
    <a href="http://schacon.github.com/git/everyday.html">Everyday Git</a> in 20 commands is good
    for a useful minimum set of commands.
  </p>
  
  <p>The <a href="/course/svn.html">SVN Crash Course</a> might be helpful if you're
    coming from the SVN world.
  </p>
  

  <h3 class="title">Longer, More In Depth</h3>
  
  <p>
    <a href="http://hoth.entp.com/output/git_for_designers.html">
    Git for Designers</a> &#8211; No knowledge of version control?  No problem.
  </p>
  
  <p>
    <a href="http://eagain.net/articles/git-for-computer-scientists/">
      Git for Computer Scientists</a> &#8211; A quick introduction
      to git internals for people who are not scared by words like Directed Acyclic Graph.
  </p>

  <p>The <a href="http://schacon.github.com/git/user-manual.html"><strong>Git User's Manual</strong></a> 
    is a comprehensive resource, covering a lot of Git functionality.
  </p>

  <p>
    <a href="http://www-cs-students.stanford.edu/~blynn/gitmagic/">Git Magic</a> 
    &#8211; An alternative online book with the source <a href="http://github.com/blynn/gitmagic/tree/master">online</a>.
  </p>
  
  <p>
    <a href="http://help.github.com">Help.GitHub</a> 
    &#8211; Guides on a variety of Git and GitHub related topics
  </p>

  <h2 class="section-start" id="reference">Reference</h2>
  <p>
    The official and comprehensive
    <a href="http://schacon.github.com/git/git.html">reference manual</a>
    comes as part of the Git package itself
  </p>

  <p>
    The <a href="http://refcardz.dzone.com/refcardz/getting-started-git">DZone RefCard</a> is a nice reference to keep handy
  </p>

  <p><a href="http://zrusin.blogspot.com/2007/09/git-cheat-sheet.html">
    Visual Git Cheat Sheet</a> is a one page printable cheat sheet
  </p>
    
</div>

<div class="span-10 last">
  <h2 class="section-start" id="books">Books</h2>

  <table>
    <tr><td>
      
      <div class="center">
        <a href="http://peepcode.com/products/git-internals-pdf"><img class="book" width="120" src="/images/books/gitbook-cover.png" alt="" /></a><br/>
        <a href="http://peepcode.com/products/git-internals-pdf">Git Internals PDF</a><br/>
        by Scott Chacon
      </div>
      
    </td><td>
  
    <div class="center">
      <a href="http://www.amazon.com/gp/product/1934356158?ie=UTF8&amp;tag=prgi-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1934356158"><img class="book" width="120" src="/images/books/pvc_git.gif" alt="" /></a><img src="http://www.assoc-amazon.com/e/ir?t=prgi-20&amp;l=as2&amp;o=1&amp;a=1934356158" width="1" height="1" alt="" style="border:none !important; margin:0px !important;" />
      <br/>
        <a href="http://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git">Pragmatic Version Control Using Git</a><br/>
        by Travis Swicegood
      </div>
      
    </td></tr>

    <tr><td>
     
        <div class="center">
          <a href="http://www.amazon.com/gp/product/0596520123?ie=UTF8&amp;tag=prgi-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0596520123"><img class="book" width="120" src="/images/books/vcw_git.jpg" alt="" /></a><img src="http://www.assoc-amazon.com/e/ir?t=prgi-20&amp;l=as2&amp;o=1&amp;a=0596520123" width="1" height="1" alt="" style="border:none !important; margin:0px !important;" />
          <br/>
	        <a href="http://www.amazon.com/Version-Control-Git-collaborative-development/dp/0596520123">Version Control with Git</a><br/>
        by Jon Loeliger
      </div>

    </td><td>
  
      <div class="center">
        <a href="http://progit.org"><img class="book" width="120" src="/images/books/progit.jpg" alt="" /></a><br/>
        <a href="http://progit.org">Pro Git</a><br/>
        by Scott Chacon<br/>
        <strong>Creative Commons Licensed</strong>
      </div>

  </td></tr>

    <tr><td>
      
        <div class="center">
          <a href="http://www.amazon.com/gp/product/1934356727?ie=UTF8&amp;tag=prgi-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1934356727"><img class="book" width="120" src="/images/books/pg_git.jpg" alt="" /></a><img src="http://www.assoc-amazon.com/e/ir?t=prgi-20&amp;l=as2&amp;o=1&amp;a=1934356727" width="1" height="1" alt="" style="border:none !important; margin:0px !important;" />
          <br/>
        <a href="http://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git">Pragmatic Guide to Git</a><br/>
        by Travis Swicegood
      </div>
      
    </td><td>

      <div class="center">
        <a href="http://www.amazon.de/dp/3941841424">
            <img class="book" width="120" src="/images/books/git_osp.jpg">
        </a>
        <br/>
        <a href="http://gitbu.ch">
            Git - Verteilte Versionsverwaltung für Code und Dokumente
        </a>
        <br/>
        by Valentin Haenel and Julius Plenz
      </div>
      
    </td></tr>

  </table>
    
</div>

<div class="span-21 videos">
	<h2 class="section-start" id="videos">Videos</h2>
	
	<table width="100%" class="videos">
	  <tr>
	    <td>
	      <a href="http://www.youtube.com/watch?v=4XpnKHJAok8">
	        <img width="160px" src="/images/videos/vid-linus.jpg" alt="" /></a><br/>
    		Linus Torvalds visits Google to share his thoughts on git, 
    		the source control management system he created two years ago. 
	    </td>
	    <td>
	      <a href="http://www.youtube.com/watch?v=8dhZ9BXQgc4">
	        <img width="160px" src="/images/videos/git-rs.jpg" alt="" /></a><br/>
    	  A one-hour talk by Randal Schwartz describing what Git is, and 
    		why it should be used over other revision control systems. 
	    </td>
	    <td>
	      <a href="http://excess.org/article/2008/07/ogre-git-tutorial/">
	        <img width="160px" src="/images/videos/vid-ogre.jpg" alt="" /></a><br/>
  	    <a href="http://excess.org/article/2008/07/ogre-git-tutorial/">
	        <strong>Git Tutorial Talk</strong></a> &#8211; 
        A recording of an excellent Git tutorial given by Bart Trojanowski for 
	      the Ottawa Group of Ruby Enthusiasts.
	    </td>
	  </tr>
	</table>
	      			
        
	<p>
	</p>
	
	<p>
	</p>
	
	<p>
  </p>
  
  <p>
  </p>

</div>

<hr />



<script  type="text/javascript">
$(function() {
  $('#git-book').corner();
});
</script>
