<div class="doc-section">
  
  <h1>Git in 5 Minutes</h1>

  <!--
    * getting git and first time setup
    * cloning a repository
    * making changes and committing
    * creating a patch for email
    * creating a new repo on github, pushing your fork there
    -->
  
  <p></p>

</div>