/* COLOR SCHEME
 base:   #FFE9B7 
 darker: #E3D185
 green:  #9AB54F
 red:    #6E212E
 lred:   #B5463F
*/

body { 
    background:#fff;
    color: #333; 
}
a { color: #6E212E; }
.center { text-align: center; }
.pad { padding: 5px; }

#toc { padding: 10px; font-size: 120%; }
#toc ul { display: inline; }
#toc ul li { display: inline; margin-left: 45px; }
#toc ul li a { color: #240; }

.header h1 { text-align: center; }
.navbar { text-align: center; background: #9AB54F;}
.footer { text-align: center; background: #E3D185;}
.menu { padding: 10px; }
h2.section-start { text-align:center; background: #9AB54F; color: #240; }
.inner { background: #FFE9B7; }
.example { background: #eee; padding: 10px;}

#current-release { font-size: 200%; color: #630; font-weight: bold; }
#tip { text-align:center; padding: 10px; font-size: 200%;}

#git-is { padding: 10px; background: #FFE9B7;}
#git-is h3 { color: #630; font-size: 200%; font-weight: bold;}

#download-source { padding: 10px; background: #B5463F; }
#download-source h3 { color: #fff; font-weight: bold; text-align: center;}
#download-source h3 small { color: #eee; font-weight: normal; font-size: 70%;}

#using-git h3 { color: #6E212E; font-weight: bold;}
#using-git ul { font-size: 120%; color: #6E212E;}