<div id="download-source">
<h3>Download Git <!--@DATE@--> &nbsp; <small>(2008-07-04)</small></h3> 
<div class="inner">
  <div class="center pad">
    The latest stable Git release is 
    <div id="current-release">v1.5.6.2</div>
    <a href="http://www.kernel.org/pub/software/scm/git/docs/RelNotes-1.5.6.2.txt">release notes</a>
  </div>
	<table><tr><td><center>
		<img width="50" src="images/tar.png"><br/>
		<!--@TARLINK@--><a href="http://kernel.org/pub/software/scm/git/git-1.5.6.2.tar.bz2">tar.bz2</a>
		<!--@TARLINK@--><a href="http://kernel.org/pub/software/scm/git/git-1.5.6.2.tar.bz2.sign">(sign)</a>
	</center></td><td><center>
		<img width="50" src="images/tar.png"><br/>
		<!--@TARLINK@--><a href="http://kernel.org/pub/software/scm/git/git-1.5.6.2.tar.gz">tar.gz</a>
		<!--@TARLINK@--><a href="http://kernel.org/pub/software/scm/git/git-1.5.6.2.tar.gz.sign">(sign)</a>
	</center></td></tr></table>
	<center>
	  <a href="http://kernel.org/pub/software/scm/git/">More versions</a><br/>
	</center>
</div>
</div>

<hr />

<h3 id="help">Got a Question?</h3>

<p>If you've got a brain-scratcher, feel free to ask the Git community at our <a href="#">mailing list</a>.</p>
<p>
  You can also ask us
  directly on the IRC channel dedicated to Git -
<a href="irc://irc.freenode.net/#git">#git on FreeNode</a>.</p>

<script>
  $(function() {
    $('#download-source').corner();
    $('.inner').corner();
  });
</script>