<div class="span-7">
  <center>
  <img src="/images/chaconbig.png"/>
  <br/>
  <br/>
  <h3>Donate to Git Now!</h3>

  <script type="text/javascript">
  function validateAmount(amount){
          if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
                  return true;
          }else{
                  alert('You must enter a valid donation.');
                  amount.focus();
                  return false;
          }
  }
  </script>
  <form action="https://checkout.google.com/cws/v2/Donations/622836985124940/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)" target="_top">
      <input name="item_name_1" type="hidden" value="Git Donation via Software Freedom Conservancy"/>
      <input name="item_description_1" type="hidden" value="Donation to the Git Project via the Software Freedom Conservancy."/>
      <input name="item_quantity_1" type="hidden" value="1"/>
      <input name="item_currency_1" type="hidden" value="USD"/>
      <input name="item_is_modifiable_1" type="hidden" value="true"/>
      <input name="item_min_price_1" type="hidden" value="5.0"/>
      <input name="item_max_price_1" type="hidden" value="25000.0"/>
      <input name="_charset_" type="hidden" value="utf-8"/>
      <table cellpadding="5" cellspacing="0" width="1%">
          <tr>
              <td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" name="item_price_1" onfocus="this.style.color='black'; this.value='';" size="11" style="color:grey;" type="text" value="Enter Amount"/>
              </td>
              <td align="left" width="1%">
                  <input alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=622836985124940&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
              </td>
          </tr>
      </table>
    </form>

    <p>A temple for the mind, people.</p>
  </center>
</div>

<div class="span-14 last">
  <h3 class="title">From git-scm.com Maintainer Scott Chacon</h3>
  <p>If everyone reading this donated a hundred and twelve dollars, our annual fundraiser would be over in just a few months.
  Not everyone can or will donate. And that’s fine, because each year just enough people support git-scm.com with a small donation. If you feel it's your turn, and you know it is, please make a small donation of $112, $227, $305 or whatever you can to keep git-scm.com free.</p>

  <p>Most people don't know this, but I'm a volunteer. A classy, classy volunteer.</p>

  <p>I don't get paid a cent for my work at git-scm.com, and neither do the thousands of Git project developers. The hosting of this incredibly high-traffic site costs in the millions of dollars a year.  Recently, I have been approached by Oracle to buy the site and all the IP associated with it. They've promised me that they'll hold it benevolently.</p>

  <p>Commerce is fine. Oracle may or may not be evil. But it doesn't belong here. Not in git-scm.com.</p>

  <p>git-scm.com is something special. It is like a library, a public park or an extremely high-end brothel. It is like a temple for the mind. <strong>A <em>temple for the mind</em>, people.</strong> It is a place we can all go to think, to learn, to share our distributed code with others. It is a unique human project, the first<em>-ish</em> of its kind in history. It is a humanitarian project to bring a free distributed source code version control system to every single person on the planet. Twice.</p>

  <p>Every single person.</p>

  <p>Twice.</p>

  <p>We're a small organization, and I've worked hard over the years to keep us lean and tight. Especially in the abdominals.</p>

  <p>To do this without resorting to advertising, we need you. It is you who keep this dream alive. It is you who have created git-scm.com. It is you who believe that a place of calm reflection, distributed source control and learning is worth having.</p>

  <p>This year, please consider making a donation to protect and sustain git-scm.com and the Git project.</p>

  <p>Thanks,<br/>
  Scott "Dragon" Chacon<br/>
  git-scm.com Maintainer</p>
  
  <div class="humourless">
    This page is <a href="http://wikimediafoundation.org/wiki/WMFJA032/en/US">a parody</a>. Donations made will actually go to the <a href="/sfc">Git project</a> under the <a href="http://sfconservancy.org/news/2010/dec/16/git-joins/">Software Freedom Conservancy</a>.
  </div>
</div>
