<h2>Development</h2>

<p>The user discussion and development of Git and most tools related to Git
takes place on the Git mailing list - everyone is welcome to post
bug reports, feature requests, comments and
<a href="http://repo.or.cz/w/git.git?a=blob_plain;f=Documentation/SubmittingPatches;hb=HEAD">patches</a>
to <a href="mailto:git@vger.kernel.org">git@vger.kernel.org</a>.
To <a href="mailto:majordomo@vger.kernel.org?body=subscribe%20git">subscribe</a>
to the list, send an email with just "subscribe git" in the body to
majordomo@vger.kernel.org.
The mailing list archives are available at
<a href="http://dir.gmane.org/gmane.comp.version-control.git">Gmane</a>
and <a href="http://marc.info/?l=git">MARC</a>.</p>