<div class="span-21">
  <div id="git-book">
    <img src="images/book.png"/>
    <a href="http://book.git-scm.com">Git Community Book</a> : 
    The git-scm.com community-built comprehensive online book
  </div>
</div>

<div class="span-21">
  <br/>
</div>

<div class="span-11">
  <h2 class="section-start">Tutorials</h2>
  
  <h3 class="title">Short and Sweet</h3>
  
  <p>The <a href="http://www.kernel.org/pub/software/scm/git/docs/gittutorial.html"><strong>official Git tutorial</strong></a>
    is a good place to get started.</p>
  
  <p>
    <a href="http://www.kernel.org/pub/software/scm/git/docs/everyday.html">Everyday Git</a> in 20 commands is good
    for a useful minimum set of commands.
  </p>
  
  <p>The <a href="/course/svn.html">SVN Crash Course</a> might be helpful if you're
    coming from the SVN world.
  </p>
  
  <p>
    <a href="http://www.spheredev.org/wiki/Git_for_the_lazy">Git for the lazy</a> is a great guide for beginners.
  </p>

  <h3 class="title">Longer, More In Depth</h3>
  
  <p>
    <a href="http://hoth.entp.com/output/git_for_designers.html">
    Git for Designers</a> &#8211; No knowledge of version control?  No problem.
  </p>
  
  <p>
    <a href="http://eagain.net/articles/git-for-computer-scientists/">
      Git for Computer Scientists</a> &#8211; A quick introduction
      to git internals for people who are not scared by words like Directed Acyclic Graph.
  </p>

  <p>The <a href="http://www.kernel.org/pub/software/scm/git/docs/user-manual.html"><strong>Git User's Manual</strong></a> 
    is a comprehensive resource, covering a lot of Git functionality.
  </p>

  <p>
    <a href="http://www-cs-students.stanford.edu/~blynn/gitmagic/">Git Magic</a> 
    &#8211; An alternative online book with the source <a href="http://github.com/blynn/gitmagic/tree/master">online</a>.
  </p>
  
  <p>
    <a href="http://github.com/guides">The GitHub Guides</a> 
    &#8211; Guides on a variety of Git and GitHub related topics
  </p>
  
  
</div>

<div class="span-10 last">
  <h2 class="section-start">Reference</h2>
  <p>
    The official and comprehensive
    <a href="http://www.kernel.org/pub/software/scm/git/docs/">reference manual</a>
    comes as part of the Git package itself
  </p>

  <p><a href="http://zrusin.blogspot.com/2007/09/git-cheat-sheet.html">
    Visual Git Cheat Sheet</a> &#8211; Everyone loves to cheat
  </p>
    
  <p>
    <a href="https://37s.backpackit.com/pub/1465067">
      37signals&#8217; Git Resources</a> &#8211; Useful lightweight reference to keep handy
  </p>
  
  
  <h2 class="section-start">Books</h2>

  <table>
    <tr><td>
      
      <div class="center">
        <a href="http://peepcode.com/products/git-internals-pdf"><img class="book" width="120" src="/images/books/gitbook-cover.png" alt="" /></a><br/>
        <a href="http://peepcode.com/products/git-internals-pdf">Git Internals PDF</a><br/>
        by Scott Chacon
      </div>
      
    </td><td>
  
      <div class="center">
        <a href="http://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git"><img class="book" width="120" src="/images/books/pvc_git.gif" alt="" /></a><br/>
        <a href="http://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git">Pragmatic Version Control Using Git</a><br/>
        by Travis Swicegood
      </div>
      
    </td></tr>
  </table>
    
</div>

<div class="span-21 videos">
	<h2 class="section-start">Videos</h2>
	
	<table width="100%">
	  <tr>
	    <td width="25%">
	      <a href="http://youtube.com/watch?v=4XpnKHJAok8">
	        <img width="160px" src="/images/videos/vid-linus.jpg"></a><br/>
    		Linus Torvalds visits Google to share his thoughts on git, 
    		the source control management system he created two years ago. 
	    </td>
	    <td width="25%">
	      <a href="http://youtube.com/watch?v=8dhZ9BXQgc4">
	        <img width="160px" src="/images/videos/git-rs.jpg"></a><br/>
    	  A one-hour talk by Randal Schwartz describing what Git is, and 
    		why it should be used over other revision control systems. 
	    </td>
	    <td width="25%">
	      <a href="http://excess.org/article/2008/07/ogre-git-tutorial/">
	        <img width="160px" src="/images/videos/vid-ogre.jpg"></a><br/>
  	    <a href="http://excess.org/article/2008/07/ogre-git-tutorial/">
	        <strong>Git Tutorial Talk</strong></a> &#8211; 
        A recording of an excellent Git tutorial given by Bart Trojanowski for 
	      the Ottawa Group of Ruby Enthusiasts.
	    </td>
	    <td width="25%">
	      <a href="http://gitcasts.com/">
	        <img width="160px" src="/images/videos/gitcasts.jpg"></a><br/>
	      <a href="http://gitcasts.com/"><strong>GitCasts</strong></a> &#8211; 
        Short and sweet screencasts on a variety of Git topics
	    </td>
	  </tr>
	</table>
	      			
        
	<p>
	</p>
	
	<p>
	</p>
	
	<p>
  </p>
  
  <p>
  </p>

</div>

<div class="span-21">

  <h2 class="section-start">Commands</h2>

  <p>Here is a list of the most common commands you're likely to use on a day-to-day basis.</p>
  
  <% commands = [
    ['Local Commands', [
      ['git config', 'Get and set repository or global options'],
      ['git init', 'Create an empty git repository or reinitialize an existing one'],
      ['git add', 'Add file contents to the index'],
      ['git status', 'Show the working tree status'],
      ['git commit', 'Record changes to the repository'],
      ['git log', 'Show commit history'],
      ['git show', 'Show information on any object'],
      ['git tag', 'Create, list, delete or verify tags'],
    ]],
    ['Remotey Commands', [
      ['git clone', 'Clone a repository into a new directory'],
      ['git remote', 'Manage set of tracked repositories'],
      ['git pull', 'Fetch from and merge with another repository or a local branch'],
      ['git fetch', 'Download objects and refs from another repository'],
      ['git push', 'Update remote refs along with associated objects'],
    ]],
    ['Branchy Commands', [
      ['git checkout', 'Checkout a branch or paths to the working tree'],
      ['git branch', 'List, create, or delete branches'],
      ['git merge', 'Join two or more development histories together'],
      ['git rebase', 'Forward-port local commits to the updated upstream head'],
    ]],
    ['Patchy Commands', [
      ['git diff', 'Show changes between commits, commit and working tree, etc'],
      ['git apply', 'Apply a patch on a git index file and a working tree'],
      ['git format-patch', 'Prepare patches for e-mail submission'],
      ['git am', 'Apply a series of patches from a mailbox'],
    ]],
  ] %>

  <table>
  <% commands.in_groups_of(2) do |sections| %>
    <tr>
    <% sections.each do |section, scommands| %>
      <td>
      <table>
        <tr><td colspan="2">
          <h3 class="title"><%= section %></h3>
        </td></tr>
        <% scommands.each do |cmd, desc| %>
          <tr>
            <td valign="top" style="white-space: nowrap;"><a href="http://www.kernel.org/pub/software/scm/git/docs/<%= cmd.gsub(' ', '-') %>.html"><%= cmd %></a></td>
            <td><%= desc %></td>
          </tr>
        <% end %>
      </table>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
</div>


<div class="span-21">
  <div id="tip">
    You can find links to more documentation at the<br/>
    <a href="http://git.or.cz/gitwiki/GitDocumentation">Git Documentation</a> wiki page.
  </div>
</div>

<hr />



<script  type="text/javascript">
$(function() {
  $('#git-book').corner();
});
</script>