<h2 id="documentation">Documentation</h2>

<p>You can find all the documentation bundled with the Git source code
in the <a href="http://www.kernel.org/pub/software/scm/git/docs/"><code>Documentation/</code></a> subdirectory
(the web version corresponds to the latest Git development version).</p>

<p>See <a href="http://www.kernel.org/pub/software/scm/git/docs/gittutorial.html">the tutorial</a> to get started,
then see <a href="http://www.kernel.org/pub/software/scm/git/docs/everyday.html">Everyday Git</a> for a useful minimum set of commands.
Especially users migrating from other systems might appreciate the <a href="course/">Crash Courses</a>.
See <a href="http://www.kernel.org/pub/software/scm/git/docs/user-manual.html">Git User's Manual</a> for a more in-depth introduction.
You can find links to more useful documentation at the
<a href="http://git.or.cz/gitwiki/GitDocumentation">GitDocumentation</a> wiki page.</p>

<p>For a large and continuously growing resource of information
about Git, you can refer to the <a href="http://git.or.cz/gitwiki">Git Wiki</a>
- you are welcome to contribute!</p>


<hr />