<?xml version="1.0" encoding="iso-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Git - Fast Version Control System</title>
	<meta name="description" content="Home of the Git Version Control System and Friends" />
	<meta name="authors" content="Petr Baudis, Scott Chacon" />
	<meta http-equiv="reply-to" content="schacon@gmail.com" />
	<meta http-equiv="content-language" content="en" />
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<link rel="icon" href="favicon.png" type="image/png" />	
	<link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen, projection">
	<script type="text/javascript" src="javascripts/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.corner.js"></script>  
</head>

<body>

<div class="container showgrids">

  <div class="span-21 header">
    <img alt="Git - the fast version control system" src="/images/header.gif">
  </div>

  <div class="span-21 navbar">
    <div id="toc">
      <ul>
      	<li><a href="/">Home</a></li>
      	<li><a href="/about">About Git</a></li>
      	<li><a href="/documentation">Documentation</a></li>
      	<li><a href="/download">Download</a></li>
      	<li><a href="/tools">Related Tools</a></li>
      </ul>
    </div>
  </div>
  
  <div class="span-21">
    <br/>
  </div>
  
  <%= yield %>

  <div class="footer span-21">
  	<div class="menu">
  		This page is maintained by Scott Chacon. Please email me
  		at <a href="mailto:schacon@gmail.com">schacon@gmail.com</a>
  		with patches, suggestions and comments.
  	  <p>Source for this website at GitHub, and was originally inspired by Petr Baudis of git.or.cz</p>
	  </div>
  </div>

</div>

<script>
  $(function() {
    $('.footer').corner();
  });
</script>

</body>
</html>
